/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.identifier_chord_scale .checkbox_container {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
 }
.identifier_chord_scale .checkbox_container input {
  display: inline;
 }
.identifier_chord_scale .checkbox_container .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
 }

#new_identifier .btn-primary{
	margin: 25px 0px;
}

#identifier_base_note {
	margin-left: 5px;
}